.container {
    max-width: 92%; //76rem;
    margin: 0 auto;
    padding: 0 4rem;

    position: relative;
}

@media (max-width: 76rem) {
    max-width: 64rem;
}

@media (max-width: 66.1rem) {
    max-width: 48rem;
}

@media (max-width: 51.2rem) {
    max-width: 36rem;
}

@media (max-width: 38.4rem) {
    max-width: none;
}

