<section class="catalog">
        <h2 class="catalog__title"><span class="catalog__title--br">стиль </span>и минимализм</h2>

        <div class="catalog__container">
            <div class="card">
                <a class="card__link" href="#">
                    <div class="card__image-wrapper">
                        <img class="card__image" src="assets/img/products/1.jpg" alt="очки">
                    </div>
                </a>
                <a class="card__link" href="#">
                    <div class="card__info">
                        <div class="card__name">Очки <span class="card__name--uppercase">SHIO</span></div>
                        <div class="card__price">4 500.00 р.</div>
                    </div>

                </a>
            </div>

            <div class="card">
                <a class="card__link" href="#">
                    <div class="card__image-wrapper">
                        <img class="card__image" src="assets/img/products/2.jpg" alt="очки">
                    </div>
                </a>
                <a class="card__link" href="#">
                    <div class="card__info">
                        <div class="card__name">Очки <span class="card__name--uppercase">BROW</span></div>
                        <div class="card__price">8 400.00 р.</div>
                    </div>
                </a>
            </div>

            <div class="card">
                <a class="card__link" href="#">
                    <div class="card__image-wrapper">
                        <img class="card__image" src="assets/img/products/3.jpg" alt="очки">
                    </div>
                </a>
                <a class="card__link" href="#">
                    <div class="card__info">
                        <div class="card__name">Очки <span class="card__name--uppercase">CATE</span></div>
                        <div class="card__price">4 000.00 р.</div>
                    </div>
                </a>
            </div>

            <div class="card">
                <a class="card__link" href="#">
                    <div class="card__image-wrapper">
                        <img class="card__image" src="assets/img/products/4.jpg" alt="очки">
                    </div>
                </a>
                <a class="card__link" href="#">
                    <div class="card__info">
                        <div class="card__name">Очки <span class="card__name--uppercase">E-STYLE</span></div>
                        <div class="card__price">6 900.00 р.</div>
                    </div>
                </a>
            </div>

            <div class="card">
                <a class="card__link" href="#">
                    <div class="card__image-wrapper">
                        <img class="card__image" src="assets/img/products/5.jpg" alt="очки">
                    </div>
                </a>
                <a class="card__link" href="#">
                    <div class="card__info">
                        <div class="card__name">Очки <span class="card__name--uppercase">ZEBRA</span></div>
                        <div class="card__price">8 300.00 р.</div>
                    </div>
                </a>
            </div>

            <div class="card">
                <a class="card__link" href="#">
                    <div class="card__image-wrapper">
                        <img class="card__image" src="assets/img/products/6.jpg" alt="очки">
                    </div>
                </a>
                <a class="card__link" href="#">
                    <div class="card__info">
                        <div class="card__name">Очки <span class="card__name--uppercase">ROUND</span></div>
                        <div class="card__price">5 500.00 р.</div>
                    </div>
                </a>
            </div>
        </div>

        <div class="catalog__btn">
            <a class="btn">Все модели</a>
        </div>

</section>
