<footer class="footer">

        <div class="footer__inner">


            <div class="footer__item">
                <div class="delivery">
                    <div class="delivery__title-container">
                        <h3 class="delivery__title">Что с доставкой?</h3>
                    </div>

                    <div class="delivery__text">
                        Стоимость доставки — 100 рублей. При заказе от 500 рублей — бесплатно! Работаем в пределах ЖК "Юбилейный ", ЖК "Каменка", ЖК "Граффити", ЖК "Чистое Небо", ЖК "Шуваловский", ЖК "Ultra city", ЖК "Legenda".

                        <br>
                        <br>
                        Оплата: наличный; безналичный; онлайн (через сайт)
                    </div>
                </div>
            </div>

            <div class="footer__item">
                <div class="signboards">

                    <div class="signboard">
                        <div class="signboard__title">
                            Зацени все модели
                        </div>
                        <a class="btn btn--signboard" href="#">Все модели</a>
                    </div>

                    <div class="signboard">
                        <div class="signboard__title">
                            Оставайся в курсе
                        </div>
                        <div class="signboard__insta-container">
                            <a class="insta" href="https://www.instagram.com/_GLAZ.NET_/" target="_blank">
                                <svg class="insta__link">
                                    <use xlink:href="#insta"></use>
                                </svg>
                            </a>

                            <a class="signboard__link" href="#">
                                <div class="signboard__link-title">glaznet_</div>
                            </a>

                        </div>


                    </div>

                </div>
            </div>
        </div>

</footer> <!-- /.footer -->
